<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정페이지</title>
</head>
<body>
<h2>회원정보 수정</h2>
<form id = 'update' >
  <!-- User ID -->
  <div>
    <label for="userId">사용자 ID:</label>
    <input type="text" id="userId" th:value="${userInfo.userId}" name="userId" readonly required>
  </div>

  <!-- Email -->
  <div>
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" th:value="${userInfo.email}"   required>
  </div>

  <!-- User Name 수정가능 -->
  <div>
    <label for="userName">사용자 이름:</label>
    <input type="text" id="userName" name="userName" th:value="${userInfo.userName}"  required>
  </div>

  <!-- Password -->
  <div>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>
  </div>

  <!-- Submit Button -->
  <div>
    <button id="submit" type="submit">회원 정보 수정</button>
  </div>
</form>

<input class="ui-helper-hidden" id="userCode" th:value="${userInfo.userCode}">

<div id="notification" style="display:none; position: fixed; bottom: 10px; right: 10px; background-color: lightgreen; padding: 10px; border-radius: 5px;">
  수정이 완료됐습니다!
  <button id="confirmButton" style="margin-left: 10px;">확인</button>
</div>

</body>
<script th:inline="javascript">

  const userCode = parseInt(document.getElementById('userCode').value, 10);

  const addIndexEvent = () => {
    const buttonEvent = document.getElementById("submit");
    buttonEvent.addEventListener("click",submitServer)
  };



  const submitServer = async (event) => {
    event.preventDefault();
    const COMMON_URL = 'http://localhost:8080';

    const param = {
      'userId': document.getElementById('userId').value,
      'userName': document.getElementById('userName').value,
      'email': document.getElementById('email').value,
      'password': document.getElementById('password').value,
      'userCode': userCode
    };

    const option = {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(param)
    };

    try {
      const res = await fetch(`${COMMON_URL}/myPage/edit/data`, option);

      if (res.ok) {
        console.log("데이터 전송 완료");
        console.log("userCode input value:", document.getElementById('userCode').value);

        const data = await res.json(); // JSON 응답 받기

        // 서버에서 받은 리다이렉트 URL로 이동
        if (data.redirectUrl) {
          window.location.href = data.redirectUrl;
          alert('수정이 완료됐습니다!');
        }
      } else {
        throw new Error('이동하려던 페이지를 찾을 수 없습니다.');
      }

    } catch (error) {
      console.error('Error:', error);
    }
  };

  addIndexEvent();

</script>
</html>