<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 버튼</title>
    <style>
        .signup-button {
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
        }
        .signup-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<button class="signup-button" onclick="redirectToSignup()">회원가입</button>
<button class="myPage" onclick="moveMyPage()">마이 페이지</button>

<p th:text="${sessionName}">User Name</p>
<p th:text="${userCode}">User Code</p>

<div th:if="${sessionName}" >
    <button class="logout" onclick="logoutButton()">로그아웃</button>
</div>


<script>
    const userCode = /*[[${userCode}]]*/ 0;
    function redirectToSignup() {
        // 회원가입 페이지 URL로 이동
        window.location.href = '/register';
    }

    function moveMyPage(){
        window.location.href = '/myPage/${userCode}';
    }

    function logoutButton(){
        window.location.href = '/logout';
    }
</script>
</body>
</html>