<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<form class="form-signin" method="post" action="/login">
 <p>
  <label for="username">사용자 ID:</label>
  <input type="text" id="username" name="username"   required autofocus>
 </p>

 <p>
  <label for="password">비밀번호 :</label>
  <input type="password" id="password" name="password"   required>
 </p>


    <button class="btn" type="submit">로그인</button>
    <button id="redirect" onclick="redirectToHome()" type="redirect">취소</button>

</form>

</body>


<script>
  function redirectToHome() {
   // home ("/") 으로 이동
    window.location.href = '/';
  }


</script>
</html>