<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-6">
<div class="container mx-auto bg-white p-8 rounded shadow-md">
    <h1 class="text-2xl font-bold mb-4">My Page</h1>

    <div class="mb-4">
        <h2 class="text-xl font-semibold mb-2">User Information</h2>
        <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
            <thead>
            <tr class="border-b border-gray-200">
                <th class="py-2 px-4 text-left text-gray-600">Field</th>
                <th class="py-2 px-4 text-left text-gray-600">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-b border-gray-200">
                <td class="py-2 px-4 font-semibold">User ID</td>
                <td class="py-2 px-4" th:text="${userInfo.userId}"></td>
            </tr>
            <tr class="border-b border-gray-200">
                <td class="py-2 px-4 font-semibold">Email</td>
                <td class="py-2 px-4" th:text="${userInfo.email}"></td>
            </tr>
            <tr class="border-b border-gray-200">
                <td class="py-2 px-4 font-semibold">User Name</td>
                <td class="py-2 px-4" th:text="${userInfo.userName}"></td>
            </tr>
            <tr class="border-b border-gray-200">
                <td class="py-2 px-4 font-semibold">Join Date</td>
                <td class="py-2 px-4" th:text="${userInfo.joinDate}"></td>
            </tr>
            <tr class="border-b border-gray-200">
                <td class="py-2 px-4 font-semibold">Last Update Date</td>
                <td class="py-2 px-4" th:text="${userInfo.updateDate}"></td>
            </tr>
            <tr>
                <td class="py-2 px-4 font-semibold">User Code</td>
                <td class="py-2 px-4" th:text="${userCode}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    const addIndexEvent = () => {
        const buttonEvent = document.getElementById("submit");
        buttonEvent.addEventListener("click",submitServer)
    };

    const submitServer = async (event) =>{
        event.preventDefault();
        const COMMON_URL = 'http://localhost:8080';

        const param = {
            'userId' : document.getElementById('userId').value,
            'userName' : document.getElementById('userName').value,
            'email' : document.getElementById('email').value,
            'password' : document.getElementById('password').value
        };

        const option = {
            method : 'POST',
            headers:{
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify(param)
        };

        try {
            const res = await fetch(`${COMMON_URL}/accounts`, option);

            if (!res.ok) {
                throw new Error('서버에서 오류가 발생했습니다.');
            }
            const data = await res.json(); // JSON 응답 받기
            if (data.redirectUrl) {
                window.location.href = data.redirectUrl; // 리다이렉트 URL로 이동
                console.log(res)
            }
        } catch (error) {
            console.error('Error:', error);
        }
    };

    addIndexEvent();
</script>
</body>
</html>